
<!DOCTYPE html>
<html>
<head>
  <title>Auto Servisas</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Sveiki atvykę į Auto Servisą</h1>
  <form action="/registracija" method="POST">
    <input type="text" name="vardas" placeholder="Vardas" required><br>
    <input type="email" name="el_pastas" placeholder="El. paštas" required><br>
    <input type="text" name="telefonas" placeholder="Telefonas" required><br>
    <input type="text" name="automobilis" placeholder="Automobilio modelis" required><br>
    <input type="text" name="paslauga" placeholder="Paslauga" required><br>
    <input type="date" name="data" required><br>
    <button type="submit">Užsiregistruoti</button>
  </form>
</body>
</html>
