<%- include('partials/header') %>

<section class="services">
  <h3>Išsamios paslaugos</h3>
  <ul>
    <li>Kompiuterinė diagnostika AUTEL</li>
    <li>Padangų montavimas</li>
    <li>Balansavimas</li>
    <li>Pakabos remontas</li>
    <li>Alyvos keitimas</li>
    <li>Stabdžių tikrinimas</li>
    <li>Techninės apžiūros paruošimas</li>
  </ul>
</section>

<%- include('partials/footer') %>
